*{
  font-family: "Merriweather", serif;
  box-sizing: border-box;
    
}
p{
    border: 5px solid black;
    text-transform: capitalize;
    font-weight: bold;
    font-variant: small-caps;
    top: 0;
    right: 0;
    position: sticky;

}