h1{
    color: darkcyan;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
p img{
    width: 250px;
    height: 250px;
    padding-right: 30px;
}
table{
    width: 100%;
}
table,th,td{
    border: 1px solid black;
    border-collapse:collapse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
tr:hover{
    background-color: rgba(6, 240, 6, 0.868);
}